
.timeline {
    position: relative;
    padding: 10px 0;
    margin: 0;
    list-style: none;
  }
  
  .timeline-item {
    position: relative;
    padding: 15px 0;
    border-left: 2px solid #1D1F20;
    left: 70px;

    
  }
  
  /* .timeline-item:last-child {
    border-left: 2px solid transparent;
  } */
  
  .timeline-dot {
    position: absolute;
    left: -7px;
    width: 14px;
    height: 14px;
    /* border-radius: 50%; */
    background: #1D1F20;
    top: 10px;
  }
  
  .timeline-content {
    margin-left: 30px;
    padding: 10px;
    border-radius: 4px;

    text-align: left;
  }
  

  .timeline-time {
    position: absolute;
    left: -70px;
    top: 2;
    font-size: 14px;
    color: #727171;
  }

 @media (max-width:991px){
.timeline-heading{
  font-size: 15px;
}
.timeline-p{
  font-size: 14px;
}
  }



  @media (max-width: 425px){
    .timeline-heading{
      font-size: 13px;
    }
    .timeline-p{
      font-size: 11px;
    }
    .timeline-time{
      font-size: 13px;
  
    }
    .timeline-dot {
      width: 12px;
    height: 12px;
  }
  .timeline-content{
    margin-left: 10px;
  }
}
@media (max-width: 320px){
  .timeline-heading{
    font-size: 12px;
  }
  .timeline-p{
    font-size: 11px;
  }
  .timeline-time{
    font-size: 12px;
    left: -59px;
  }
  .timeline-dot {
    width: 10px;
  height: 10px;
}
.timeline-content{
  padding: 2px;
}
.timeline-item {
  border-left: 1px solid #1D1F20;
  left: 50px;
}


}